body {
    font-family: 'Roboto', sans-serif;
}

button {
    cursor: pointer;
}

.subscribe-button {
    border-style: none;
    background-color: black;
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: 600;
}

.is-subscribed {
    background-color: #f0f0f0;
    color: black;
}

.cost-input {
    padding: 10px;
    font-size: 15px;
}

.calculate-button {
    border: none;
    background-color: green;
    color: white;
    padding: 12px 15px;
    font-size: 15px;
}

.error {
    margin-top: 2px;
    color: red;
    font-size: 12px;
}